<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="w-full h-screen absolute bg-zinc-600">
        <div
            class="relative top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] inline-block bg-zinc-400 p-[40px_40px]">
            <h1 class="font-bold text-2xl mb-6 text-blue-700">SignUp Form</h1>
            <form action="/user/register" method="post" class="flex flex-col">
                <input class="p-[8px_5px] outline-none border-none w-[300px] mb-3" type="text" name="fullname"
                    placeholder="Fullname">
                <input class="p-[8px_5px] outline-none border-none w-[300px] mb-3" type="text" name="email"
                    placeholder="email">
                <input class="p-[8px_5px] outline-none border-none w-[300px] mb-5" type="text" name="password"
                    placeholder="password">
                <input
                    class="p-[8px_5px] outline-none border-none w-[300px] bg-blue-600 cursor-pointer font-semibold text-white"
                    value="Create User" type="submit">
            </form>
            <a href="/login" class="mt-4 text-center block">Already have an account_?, <span
                    class="text-blue-500">LogIn</span></a>
        </div>
    </div>
</body>

</html>